* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecalho {
    background-color: hsl(211, 41%, 36%);
    color:aliceblue;
}

.titulo {
    font-family: Arial, sans-serif;
    padding: 10px 0 10px 20px;
    letter-spacing: -1px;
    margin: auto;
}

.navegacao {
    background-color:#375E87;
    padding: 10px;
}

.navegacao, a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.navegacao a:hover {
    color:#375E87;
    background-color: aliceblue;
    transition: 0.5s;
}

h2 {
    font-family: Arial, sans-serif;
    color:#375E87;
    padding: 10px;
}

section p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    font-weight: 400;
}

#mais-info {
    color: #375E87;
    font-size: 17px;
}

#mais-info:hover {
    color: burlywood;
    transition: 0.3s;
}

footer p {
    font-size: 14px;
    color: #375E87;
    text-align: center;
    align-items: flex-end
}

@media (max-width: 320px) {
    /*cabecalho*/
    .titulo {
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
}
.navegacao, a {
    font-size: 0.8rem;
    padding: 0 5px 0 5px;
    height: 20px;
    text-align: center;
}

/*hero*/
h2 {
    font-size: 1.5rem;
}

}